.custom-listview {
    .mx-listview>ul>li {
        transition: all 0.3s 0s cubic-bezier(0.4, 0, 0.2, 1);
        transform-style: initial;
        background-color: #ffffff;
        padding: 16px;
        /* border-top: 1px solid #ced0d3; */



    }
}

.tab-wizard.mx-tabcontainer>.mx-tabcontainer-tabs {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-style: none;
    width: 134%;
}

.tab-wizard.mx-tabcontainer>.mx-tabcontainer-tabs>li.active>a,
.tab-wizard.mx-tabcontainer>.mx-tabcontainer-tabs>li.active>a:hover,
.tab-wizard.mx-tabcontainer>.mx-tabcontainer-tabs>li.active>a:focus {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #975ac7;
    /* height: 52px; */
    border-radius: inherit;
}

.tab-wizard.mx-tabcontainer>.mx-tabcontainer-tabs>li>a {
    width: auto;
    height: calc((16px * 2) + 1px);
    margin: auto;
    padding: 0;
    text-align: center;
    color: #975ac7;
    border: 1px solid #ced0d3;
    /* border-radius: 100%; */
    background-color: #efe2f8;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: inherit;
        align-items: center;
}